.star {
  display: flex;
  align-items: center;
  padding: var(--star-padding, .1rem);
  &-icon {
    margin-right: var(--star-margin, .5rem);
    &::after {
      content: "";
      display: block;
      width: var(--star-size, 1.6rem);
      height: var(--star-size, 1.6rem);
      background-image: url('/public/star.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  &-label {
    color: var(--nutui-color-primary);
  }
}