.design-list {
  box-sizing: border-box;
  padding: 10px;
  &-item {
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;
    width: 100%;
    &-image {
      width: 100%;
      height: 5rem;
    }
    &-content {
      text-align: center;
      padding: .5rem 0;
    }
  }
}
