.award-detail {
  padding: 1rem .5rem 0 .5rem;
  & > div {
    background-color: white;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    overflow: hidden;
  }
  &-main {
    padding: .5rem;
    box-sizing: border-box;
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2.5rem;
    }
  }
  &-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-sizing: border-box;
    &-account {
      display: flex;
      align-items: center;
      & div:nth-of-type(1) {
        margin-right: 1em;
      }
    }
    button {
      width: 40vw;
    }
  }
}