.score-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &-main {
    overflow-y: auto;
    flex: 1;
    &-header {
      box-sizing: border-box;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-username {
        font-size: 1.5em;
        display: flex;
        align-items: center;
      }
      & > div {
        width: 33.33%;
      }
    }
  }
  &-bottom {
    background-color: white;
  }
}